<div class="page-banner-area item-bg4">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-banner-content">
                    <h2>جزئیات معلمان</h2>
                    <ul>
                        <li>
                            <a href="/">خانه</a>
                        </li>
                        <li>جزئیات معلمان</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="teacher-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="teacher-details-desc">
                    <div class="teacher-desc-image">
                        <img src="<%= teacher.profile.slice(8) %>" alt="image">
                    </div>
                    <div class="teacher-desc-content">
                        <h3>مشخصات و زندگینامه</h3>
                        <%= teacher.discreption %>
                            <h3>مهارت های معلم</h3>
                            <%= teacher.skillDiscriptions %>
                                <div class="skill-bar" data-percentage="<%=teacher.teachingSkills %>%">
                                    <p class="progress-title-holder">
                                        <span class="progress-title">مهارت های تدریس</span>
                                        <span class="progress-number-wrapper">
                                            <span class="progress-number-mark">
                                                <span class="percent"></span>
                                                <span class="down-arrow"></span>
                                            </span>
                                        </span>
                                    </p>
                                    <div class="progress-content-outter">
                                        <div class="progress-content"></div>
                                    </div>
                                </div>
                                <div class="skill-bar" data-percentage="<%=teacher.spokenSkills %>%">
                                    <p class="progress-title-holder">
                                        <span class="progress-title">مهارت گفتاری</span>
                                        <span class="progress-number-wrapper">
                                            <span class="progress-number-mark">
                                                <span class="percent"></span>
                                                <span class="down-arrow"></span>
                                            </span>
                                        </span>
                                    </p>
                                    <div class="progress-content-outter">
                                        <div class="progress-content two"></div>
                                    </div>
                                </div>

                                <div class="skill-bar" data-percentage="<%=teacher.communicationSkills %>%">
                                    <p class="progress-title-holder">
                                        <span class="progress-title">مهارت ارتباطی</span>
                                        <span class="progress-number-wrapper">
                                            <span class="progress-number-mark">
                                                <span class="percent"></span>
                                                <span class="down-arrow"></span>
                                            </span>
                                        </span>
                                    </p>
                                    <div class="progress-content-outter">
                                        <div class="progress-content three"></div>
                                    </div>
                                </div>
                                <div class="skill-bar" data-percentage="<%= teacher.socialSkills %>%">
                                    <p class="progress-title-holder">
                                        <span class="progress-title">مهارت اجتماعی</span>
                                        <span class="progress-number-wrapper">
                                            <span class="progress-number-mark">
                                                <span class="percent"></span>
                                                <span class="down-arrow"></span>
                                            </span>
                                        </span>
                                    </p>
                                    <div class="progress-content-outter">
                                        <div class="progress-content four"></div>
                                    </div>
                                </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="teacher-details-information">
                    <h3>مشخصات</h3>
                    <ul>
                        <li>
                            <span>نام:</span>
                            <%= teacher.firstName + " " + teacher.lastName %>
                        </li>

                        <li>
                            <span>دبیر:</span>
                            <%= teacher.teacherFor %>
                        </li>
                        <li>
                            <span>تجربه:</span>
                            <%= teacher.experience %> سال
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>